@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
  width: 100%;
  background-color: #976116;
}
.geclickt{
  color : red;
}
.geliktpopup{
  color: #2781b5;

}