.userCard {
  width: 70%;
  margin-left: 15%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "left right";
  row-gap: 0.7rem;
  column-gap: 2rem;
}
/* ------------------ */
.userCard .left {
  grid-area: left;
  display: grid;
  grid-template-rows: 5fr 1fr;
}
.userCard img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

div.button.followed {
  background-color: green;
  color: white;
}
.userCard div.button {
  width: 100%;
}
/* ------------------- */

.userCard .right {
  grid-area: right;
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 1fr;
  grid-template-areas:
    "name name"
    "city city"
    "data data"
    "but1 but";
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.userCard .name {
  grid-area: name;
  justify-self: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  margin-top: 2rem;
}

.userCard .address {
  grid-area: city;
  justify-self: center;
  font-size: 1rem;
  margin: 0;
}

.userCard .data {
  grid-area: data;
  justify-self: left;
  align-self: end;
  font-size: 1rem;
  margin: 0;
  margin-left: 4rem;
}

div.button {
  height: 2rem;
  justify-self: center;
  text-align: center;
  font-size: 1rem;
  margin: 0;
  color: green;
  background-color: white;
  font-weight: bold;
  border: solid 2px green;
  border-radius: 5px;
}

div.twoButtons {
  grid-area: but;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
div.button:hover {
  background-color: green;
  color: white;
}
