@import '../variables.scss';
@import '../mixins.scss';
@import '../_settings.scss';

header {
      @include size(100%, 6rem, $background_tertiary);
      padding-left: 3rem;
      padding-right: 3rem;
}

header nav {
      @include size(100%, 100%);
      @include flex-row(2rem, space-between, center);
      border: 1px solid red;

}

.hamburger {
      color: $fontColor_primary;
      @include size(3rem, 3rem);
      cursor: pointer;
      display: block;


      @media (min-width: $tablet) {
            display: none;
      }

      @media (min-width: $desktop) {
            display: none;
      }
}

.popover-group-left {
      display: none;
      margin-left: auto;


      @media (min-width: $tablet) {
            @include flex-row(1rem, center, center);
      }

      @media (min-width: $desktop) {
            @include flex-row(1rem, center, center);

      }
}


.popover-button {
      @include flex-row(1rem, center, center);
      @include font (1.2rem, $fontColor_primary, bold);

}

.popover-backdrop {
      @include position(fixed, 0, 0, 0, 0);
      backdrop-filter: blur(4px) brightness(50%);
}

.popover-panel {
      z-index: 10;
      @include position(absolute, 15vw, 5rem, n, n);
      @include size(70vw, 80vh, $background_secondary);
      margin-top: 0.75rem;
      overflow-y: auto;
      border: 1px solid $background_primary;
      border-radius: 1.5rem;
      box-shadow: 0 4px 6px $shadowColor_primary, 0 1px 3px $shadowColor_secondary;
}

.popover-group-right {
      @include flex-row(1rem, center, center);
}

.registration-login-block {
      @include flex-row(1rem, center, center);
}

.registration-login-block span {
      @include font(1rem, $fontColor_primary, n);

}