.bell {
      border: 2.5px solid green;
      border-radius: 10px 10px 0 0;
      @include size(10px, 12px, transparent);


      display: block;
      position: relative;
      top: -2px;
}

@media (min-width: $tablet) {
      .bell {
            @include size(12px, 14px, transparent);
      }
}

@media (min-width: $desktop) {
      .bell {
            @include size(13px, 16px, transparent);
      }
}

.bell::before,
.bell::after {
      content: "";
      @include size(100%, 2.5px, green);
      display: block;
      @include hcenter(absolute);
}

.bell::before {
      top: 100%;
      width: 18px;
}

.bell::after {
      top: calc(100% + 4px);
      width: 10px;
}

.notification {
      @include size(40px, 40px, transparent);
      border: none;
      border-radius: 50px;
      padding: 15px 15px;
      cursor: pointer;
      top: -5px;
      transition: 300ms;
      position: relative;
      @include flex-row(0, center, center);

}

.notification:hover {
      background: rgba(170, 170, 170, 0.062);
}

.notification:hover .bell-container {
      animation: bell-animation 650ms ease-out 0s 1 normal both;
}

@keyframes bell-animation {
      20% {
            transform: rotate(15deg);
      }

      40% {
            transform: rotate(-15deg);
            scale: 1.1;
      }

      60% {
            transform: rotate(10deg);
            scale: 1.1;
      }

      80% {
            transform: rotate(-10deg);
      }

      0%,
      100% {
            transform: rotate(0deg);
      }
}

.tooltip {
      @include position(absolute, 50%, n, n, 100%);
      transform: translateX(-50%);
      @include size(auto, auto, #646464);
      @include font(0.8rem, white, normal);
      padding: 5px 10px;
      border-radius: 5px;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s;
      white-space: nowrap;
      z-index: 3;
}

.notification:hover .tooltip {
      visibility: visible;
      opacity: 0.8;
}