.inbox-btn {
      @include size(35px, 35px, inherit);
      @include flex-row(1rem, center, center);
      border-radius: 50%;
      border: none;
      position: relative;
      cursor: pointer;
      transition: all 0.3s;
}

@media (min-width: $tablet) {
      .inbox-btn {
            @include size(40px, 40px, inherit);

      }
}

@media (min-width: $desktop) {
      .inbox-btn {
            @include size(50px, 50px, inherit);

      }
}

.inbox-btn svg path {
      fill: green;
}

.inbox-btn svg {
      height: 20px;
      transition: all 0.3s;
}

.msg-count {
      position: absolute;
      top: 0rem;
      right: 2px;
      background-color: red;
      border-radius: 50%;
      font-size: 0.8em;
      font-weight: bold;
      color: white;
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
}

@media (min-width: $desktop) {
      .msg-count {
            top: 0.5rem;

      }
}


.tooltip {
      position: absolute;
      width: auto;
      bottom: 90%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #646464;
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 0.8em;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s;
      white-space: nowrap;
}

.inbox-btn:hover .tooltip {
      visibility: visible;
      opacity: 0.8;
}

.inbox-btn {
      outline: none;
}