.logo {
      margin-right: auto;
      cursor: pointer;
      @include size(8rem, 8rem, transparent);
      transition: none;
      @include position(absolute, 5rem, -2rem, n, n);
      padding: 0;
      z-index: 100;
}

.logo:hover {
      scale: 1;
}