div.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  z-index: 70;
}
.letterContainer {
  width: 120%;
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative;
}
.title {
  font-size: 18px;
  margin-bottom: 10px;
}
.letterForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-size: 14px;
  /* font-weight: bold; */
}
.input {
  font-size: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.textarea {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-height: 100px;
  resize: vertical;
}
.buttonContainer {
  display: flex;
  gap: 10px;
}
.button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
.note {
  color: #f612125d;
  font-size: 12px;
  margin-top: 10px;
}
