@import './variables.scss';
@import './mixins.scss';


@font-face {
      font-family: 'Roboto';
      src: url('/src/assets/fonts/Roboto-Regular.ttf'),
            url('/src/assets/fonts/Roboto-Bold.'),
            url('/src/assets/fonts/Roboto-Light.'),
            url('/src/assets/fonts/Roboto-Medium.');
      font-weight: 400;
      font-style: normal;
}

* {
      margin: 0;
      padding: 0;
      border: 0;
      box-sizing: border-box;

      font-family: 'Roboto', sans-serif;
      font-size: 62.5%;
}

// [data-theme="light"] {
//       background-color: $primery-color;
//       color: $background_primary;

// }

// [data-theme="dark"] {
//       color: $primery-color;
//       background-color: $background_primary;

// }


a,
a:active,
a:visited,
label,
textarea,
textarea::placeholder,
input,
input::placeholder,
button {
      text-decoration: none;
      color: inherit;
      font: inherit;
}

textarea,
input,
input:active,
input:focus,
select:active,
select:focus,
button {
      outline: none;

      padding: 0.5rem;
      padding-left: 1rem;

      border: none;
      border-radius: 1rem;

}

a:hover,
button:hover,
select:hover,
label:hover {
      cursor: pointer;
      scale: 1.05;
}


ul li {
      list-style-type: none;
}

button {
      background: none;
}