$colorBlue-primery: #38b5ff;
$colorBlue-secondary: #2781b5;
$colorBlue-third: #214256;


$colorOrange-primery: #fcaf45;
$colorOrange-secondary: #fed7aa;
$colorOrange-third: #b48a4e;


$background_primary: #f8f9f9;
$background_secondary: #e5e7eb;
$background_tertiary: #ffffff;

$fontColor_primary: #1a1a1a;
$fontColor_secondary: #3c3b3b;
$fontColor_invert: #ffffff;

$shadowColor_primary: rgba(0, 0, 0, 0.1);
$shadowColor_secondary: rgba(0, 0, 0, 0.08);

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;